.black-sun-with-rays:before {  content: "\2600"; }
.cloud:before {  content: "\2601"; }
.umbrella:before {  content: '"\2602"'; }
.snowman:before {  content: "\2603"; }
.comet:before {  content: "\2604"; }
.black-star:before {  content: "\2605"; }
.white-star:before {  content: "\2606"; }
.lightning:before {  content: "\2607"; }
.thunderstorm:before {  content: "\2608"; }
.sun:before {  content: "\2609"; }
.ascending-node:before {  content: "\260A"; }
.descending-node:before {  content: "\260B"; }
.conjunction:before {  content: "\260C"; }
.oppositiontry-try:before {  content: "\260D"; }
.black-telephone:before {  content: "\260E"; }
.white-telephone:before {  content: "\260F"; }
.ballot-box:before {  content: "\2610"; }
.ballot-box-with-check:before {  content: "\2611"; }
.ballot-box-with-x:before {  content: "\2612"; }
.saltire:before {  content: "\2613"; }
.umbrella-with-rain-drops:before {  content: "\2614"; }
.hot-beverage:before {  content: "\2615"; }
.white-shogi-piece:before {  content: "\2616"; }
.black-shogi-piece:before {  content: "\2617"; }
.shamrock:before {  content: "\2618"; }
.reversed-rotated-floral-heart-bullet:before {  content: "\2619"; }
.black-left-pointing-index:before {  content: "\261A"; }
.black-right-pointing-index:before {  content: "\261B"; }
.white-left-pointing-index:before {  content: "\261C"; }
.white-up-pointing-index:before {  content: "\261D"; }
.white-right-pointing-index:before {  content: "\261E"; }
.white-down-pointing-index:before {  content: "\261F"; }
.skull-and-crossbones:before {  content: "\2620"; }
.caution-sign:before {  content: "\2621"; }
.radioactive-sign:before {  content: "\2622"; }
.biohazard-sign:before {  content: "\2623"; }
.caduceus:before {  content: "\2624"; }
.ankh:before {  content: "\2625"; }
.orthodox-cross:before {  content: "\2626"; }
.chi-rho:before {  content: "\2627"; }
.cross-of-lorraine:before {  content: "\2628"; }
.cross-of-jerusalem:before {  content: "\2629"; }
.star-and-crescent:before {  content: "\262A"; }
.farsi-symbol:before {  content: "\262B"; }
.adi-shakti:before {  content: "\262C"; }
.hammer-and-sickle:before {  content: "\262D"; }
.peace-symbol:before {  content: "\262E"; }
.yin-yang:before {  content: "\262F"; }
.trigram-for-heaven:before {  content: "\2630"; }
.trigram-for-lake:before {  content: "\2631"; }
.trigram-for-fire:before {  content: "\2632"; }
.trigram-for-thunder:before {  content: "\2633"; }
.trigram-for-wind:before {  content: "\2634"; }
.trigram-for-water:before {  content: "\2635"; }
.trigram-for-mountain:before {  content: "\2636"; }
.trigram-for-earth:before {  content: "\2637"; }
.wheel-of-dharma:before {  content: "\2638"; }
.white-frowning-face:before {  content: "\2639"; }
.white-smiling-face:before {  content: "\263A"; }
.black-smiling-face:before {  content: "\263B"; }
.white-sun-with-rays:before {  content: "\263C"; }
.first-quarter-moon:before {  content: "\263D"; }
.last-quarter-moon:before {  content: "\263E"; }
.mercury:before {  content: "\263F"; }
.female-sign:before {  content: "\2640"; }
.earth:before {  content: "\2641"; }
.male-sign:before {  content: "\2642"; }
.jupiter:before {  content: "\2643"; }
.saturn:before {  content: "\2644"; }
.uranus:before {  content: "\2645"; }
.neptune:before {  content: "\2646"; }
.pluto:before {  content: "\2647"; }
.aries:before {  content: "\2648"; }
.taurus:before {  content: "\2649"; }
.gemini:before {  content: "\264A"; }
.cancer:before {  content: "\264B"; }
.leo:before {  content: "\264C"; }
.virgo:before {  content: "\264D"; }
.libra:before {  content: "\264E"; }
.scorpius:before {  content: "\264F"; }
.sagittarius:before {  content: "\2650"; }
.capricorn:before {  content: "\2651"; }
.aquarius:before {  content: "\2652"; }
.pisces:before {  content: "\2653"; }
.white-chess-king:before {  content: "\2654"; }
.white-chess-queen:before {  content: "\2655"; }
.white-chess-rook:before {  content: "\2656"; }
.white-chess-bishop:before {  content: "\2657"; }
.white-chess-knight:before {  content: "\2658"; }
.white-chess-pawn:before {  content: "\2659"; }
.black-chess-king:before {  content: "\265A"; }
.black-chess-queen:before {  content: "\265B"; }
.black-chess-rook:before {  content: "\265C"; }
.black-chess-bishop:before {  content: "\265D"; }
.black-chess-knight:before {  content: "\265E"; }
.black-chess-pawn:before {  content: "\265F"; }
.black-spade-suit:before {  content: "\2660"; }
.white-heart-suit:before {  content: "\2661"; }
.white-diamond-suit:before {  content: "\2662"; }
.black-club-suit:before {  content: "\2663"; }
.white-spade-suit:before {  content: "\2664"; }
.black-heart-suit:before {  content: "\2665"; }
.black-diamond-suit:before {  content: "\2666"; }
.white-club-suit:before {  content: "\2667"; }
.hot-springs:before {  content: "\2668"; }
.quarter-note:before {  content: "\2669"; }
.eighth-note:before {  content: "\266A"; }
.beamed-eighth-notes:before {  content: "\266B"; }
.beamed-sixteenth-notes:before {  content: "\266C"; }
.music-flat-sign:before {  content: "\266D"; }
.music-natural-sign:before {  content: "\266E"; }
.music-sharp-sign:before {  content: "\266F"; }
.west-syriac-cross:before {  content: "\2670"; }
.east-syriac-cross:before {  content: "\2671"; }
.universal-recycling-symbol:before {  content: "\2672"; }
.recycling-symbol-for-type-1-plastics:before {  content: "\2673"; }
.recycling-symbol-for-type-2-plastics:before {  content: "\2674"; }
.recycling-symbol-for-type-3-plastics:before {  content: "\2675"; }
.recycling-symbol-for-type-4-plastics:before {  content: "\2676"; }
.recycling-symbol-for-type-5-plastics:before {  content: "\2677"; }
.recycling-symbol-for-type-6-plastics:before {  content: "\2678"; }
.recycling-symbol-for-type-7-plastics:before {  content: "\2679"; }
.recycling-symbol-for-generic-materials:before {  content: "\267A"; }
.black-universal-recycling-symbol:before {  content: "\267B"; }
.recycled-paper-symbol:before {  content: "\267C"; }
.partially-recycled-paper-symbol:before {  content: "\267D"; }
.permanent-paper-sign:before {  content: "\267E"; }
.wheelchair-symbol:before {  content: "\267F"; }
.die-face-1:before {  content: "\2680"; }
.die-face-2:before {  content: "\2681"; }
.die-face-3:before {  content: "\2682"; }
.die-face-4:before {  content: "\2683"; }
.die-face-5:before {  content: "\2684"; }
.die-face-6:before {  content: "\2685"; }
.white-circle-with-dot-right:before {  content: "\2686"; }
.white-circle-with-two-dots:before {  content: "\2687"; }
.black-circle-with-white-dot-right:before {  content: "\2688"; }
.black-circle-with-two-white-dots:before {  content: "\2689"; }
.monogram-for-yang:before {  content: "\268A"; }
.monogram-for-yin:before {  content: "\268B"; }
.digram-for-greater-yang:before {  content: "\268C"; }
.digram-for-lesser-yin:before {  content: "\268D"; }
.digram-for-lesser-yang:before {  content: "\268E"; }
.digram-for-greater-yin:before {  content: "\268F"; }
.white-flag:before {  content: "\2690"; }
.black-flag:before {  content: "\2691"; }
.hammer-and-pick:before {  content: "\2692"; }
.anchor:before {  content: "\2693"; }
.crossed-swords:before {  content: "\2694"; }
.staff-of-aesculapius:before {  content: "\2695"; }
.scales:before {  content: "\2696"; }
.alembic:before {  content: "\2697"; }
.flower:before {  content: "\2698"; }
.gear:before {  content: "\2699"; }
.staff-of-hermes:before {  content: "\269A"; }
.atom-symbol:before {  content: "\269B"; }
.fleur-de-lis:before {  content: "\269C"; }
.outlined-white-star:before {  content: "\269D"; }
.three-lines-converging-right:before {  content: "\269E"; }
.three-lines-converging-left:before {  content: "\269F"; }
.warning-sign:before {  content: "\26A0"; }
.high-voltage-sign:before {  content: "\26A1"; }
.doubled-female-sign:before {  content: "\26A2"; }
.doubled-male-sign:before {  content: "\26A3"; }
.interlocked-female-and-male-sign:before {  content: "\26A4"; }
.male-and-female-sign:before {  content: "\26A5"; }
.male-with-stroke-sign:before {  content: "\26A6"; }
.male-with-stroke-and-male-and-female-sign:before {  content: "\26A7"; }
.vertical-male-with-stroke-sign:before {  content: "\26A8"; }
.horizontal-male-with-stroke-sign:before {  content: "\26A9"; }
.medium-white-circle:before {  content: "\26AA"; }
.medium-black-circle:before {  content: "\26AB"; }
.medium-small-white-circle:before {  content: "\26AC"; }
.marriage-symbol:before {  content: "\26AD"; }
.divorce-symbol:before {  content: "\26AE"; }
.unmarried-partnership-symbol:before {  content: "\26AF"; }
.coffin:before {  content: "\26B0"; }
.funeral-urn:before {  content: "\26B1"; }
.neuter:before {  content: "\26B2"; }
.ceres:before {  content: "\26B3"; }
.pallas:before {  content: "\26B4"; }
.juno:before {  content: "\26B5"; }
.vesta:before {  content: "\26B6"; }
.chiron:before {  content: "\26B7"; }
.black-moon-lilith:before {  content: "\26B8"; }
.sextile:before {  content: "\26B9"; }
.semisextile:before {  content: "\26BA"; }
.quincunx:before {  content: "\26BB"; }
.sesquiquadrate:before {  content: "\26BC"; }
.soccer-ball:before {  content: "\26BD"; }
.baseball:before {  content: "\26BE"; }
.squared-key:before {  content: "\26BF"; }
.white-draughts-man:before {  content: "\26C0"; }
.white-draughts-king:before {  content: "\26C1"; }
.black-draughts-man:before {  content: "\26C2"; }
.black-draughts-king:before {  content: "\26C3"; }
.snowman-without-snow:before {  content: "\26C4"; }
.sun-behind-cloud:before {  content: "\26C5"; }
.rain:before {  content: "\26C6"; }
.black-snowman:before {  content: "\26C7"; }
.thunder-cloud-and-rain:before {  content: "\26C8"; }
.turned-white-shogi-piece:before {  content: "\26C9"; }
.turned-black-shogi-piece:before {  content: "\26CA"; }
.white-diamond-in-square:before {  content: "\26CB"; }
.crossing-lanes:before {  content: "\26CC"; }
.disabled-car:before {  content: "\26CD"; }
.ophiuchus:before {  content: "\26CE"; }
.pick:before {  content: "\26CF"; }
.car-sliding:before {  content: "\26D0"; }
.helmet-with-white-cross:before {  content: "\26D1"; }
.circled-crossing-lanes:before {  content: "\26D2"; }
.chains:before {  content: "\26D3"; }
.no-entry:before {  content: "\26D4"; }
.alternate-one-way-left-way-traffic:before {  content: "\26D5"; }
.black-two-way-left-way-traffic:before {  content: "\26D6"; }
.white-two-way-left-way-traffic:before {  content: "\26D7"; }
.black-left-lane-merge:before {  content: "\26D8"; }
.white-left-lane-merge:before {  content: "\26D9"; }
.drive-slow-sign:before {  content: "\26DA"; }
.heavy-white-down-pointing-triangle:before {  content: "\26DB"; }
.left-closed-entry:before {  content: "\26DC"; }
.squared-saltire:before {  content: "\26DD"; }
.falling-diagonal-in-white-circle-in-black-square:before {  content: "\26DE"; }
.black-truck:before {  content: "\26DF"; }
.restricted-left-entry-1:before {  content: "\26E0"; }
.restricted-left-entry-2:before {  content: "\26E1"; }
.astronomical-symbol-for-uranus:before {  content: "\26E2"; }
.heavy-circle-with-stroke-and-two-dots-above:before {  content: "\26E3"; }
.pentagram:before {  content: "\26E4"; }
.right-handed-interlaced-pentagram:before {  content: "\26E5"; }
.left-handed-interlaced-pentagram:before {  content: "\26E6"; }
.inverted-pentagram:before {  content: "\26E7"; }
.black-cross-on-shield:before {  content: "\26E8"; }
.shinto-shrine:before {  content: "\26E9"; }
.church:before {  content: "\26EA"; }
.castle:before {  content: "\26EB"; }
.historic-site:before {  content: "\26EC"; }
.gear-without-hub:before {  content: "\26ED"; }
.gear-with-handles:before {  content: "\26EE"; }
.map-symbol-for-lighthouse:before {  content: "\26EF"; }
.mountain:before {  content: "\26F0"; }
.umbrella-on-ground:before {  content: "\26F1"; }
.fountain:before {  content: "\26F2"; }
.flag-in-hole:before {  content: "\26F3"; }
.ferry:before {  content: "\26F4"; }
.sailboat:before {  content: "\26F5"; }
.square-four-corners:before {  content: "\26F6"; }
.skier:before {  content: "\26F7"; }
.ice-skate:before {  content: "\26F8"; }
.person-with-ball:before {  content: "\26F9"; }
.tent:before {  content: "\26FA"; }
.japanese-bank-symbol:before {  content: "\26FB"; }
.headstone-graveyard-symbol:before {  content: "\26FC"; }
.fuel-pump:before {  content: "\26FD"; }
.cup-on-black-square:before {  content: "\26FE"; }
.white-flag-with-horizontal-middle-black-stripe:before {  content: "\26FF"; }